<main class="top-main", id="top-main">
  
  <% if admin_signed_in? %>
    <div class="back-ground-img-admin">
      <%# 検索フォームの表示 %>
      <%= render "cares/search_form" %>
      <%# ユーザーリスト表示 %>
      <%= render "cares/user_list" %> 
    </div>

  <% else %>
    <%# ログインしていないときは以下を表示する %>
    <div class="back-ground-img">
      <div class="top-main-contents">
        <div class ="top-up">
          自分のキャリアが一目でわかる！
        </div>
        <div class="top-sub-content"></div>
        <div class="top-down">
          実務年数・研修時間を自動で計算！
        </div>
      </div>
    </div>
  <% end %>

</main>