.user_list-print {
  font-size: 20px;
  margin-bottom: 30px;
}
.user_col_pr {
  font-size: 20px;
  
}
.other-content-pr {
  font-family: 'IPAMincho', 'IPA明朝'
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}