/* ヘッダー */

.header {
  background-color: #bff5dc;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 50px;
}
.header .nav {
  display: flex;
  align-items: center;
}

.inner {
  margin: 0 auto;
  
}
.nav {
  padding: 0 30px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 50px;
}
.nav__btn{
  margin-right: 10px;
  display: inline-block;
  padding: 0.8em 1.6em;
  font-size: 0.8em;
  font-weight: bold;
  color: #14242e;
  text-decoration: none;
  user-select: none;
  border: 1px #559dc9 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{

  margin-right: 20px;
  font-weight: bold;
  display: inline-block;
  color: #14242e;
  border: 1px #559dc9 solid;
  opacity: 0.7;
  padding: 0.8em 1.6em;
  font-size: 0.8em;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
  color: #fff;
  background: #87CEFA;
}

/* トップぺージ */

.greeting__link:hover{
  opacity: 0.5;
  color: #080808;
}
.greeting__link {
  color: #080808;
  text-decoration: none;
}
.greeting {
  margin-bottom: 50px;
  
}

.my-img {
  width: auto;
  height: 800px;
  opacity: 0.5;
}
/* newページ */


.input-container {
  display: flex;
}
.input-container > div {
  flex: 1;
  margin-right: 10px;
}
.mypages { 
  margin-top: 30px;
}
.user_mypages {
  font-size: 1.2em;
  padding: 5px 15px;
}
.search-input {
  width: auto;
}
.input-field-name {
  height: 30px;
  width: 150px;
}
.input-field-number {
  height: 30px;
  width: 150px;
}
.input-field-pull {
  height: 30px;
}
.input-field-time {
  height: 30px;
  width: 50px;
}
.search-button {
  height: 30px;
}


/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #f0cbcb;
  border-collapse: collapse;
  border: 1px solid #f7eded;
  border-radius: 10px;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  background: #faf4f4;
  border: 1px solid #faf1f1;
  border-radius: 10px;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.table {
  margin-bottom: 10px; /* 下側にマージンを設定 */
  max-width: 500px
}
.table_wrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .table_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}