<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf_styles") %>
     <style>
.pdf-content {
        font-family: 'IPAexゴシック', 'IPA Pゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'MS Pゴシック', sans-serif,'IPA明朝';
      }
    </style>

</head>
<body>

  <div class="pdf-content">
    <%= yield %>
  </div>
</body>
</html>