<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%#= wicked_pdf_stylesheet_link_tag "pdf_styles" %>
  <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf_styles") %>
</head>
<body>
  <div class="pdf-content">
    <%= yield %>
  </div>
</body>
</html>